@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Raleway:ital,wght@0,500;0,600;0,700;1,700&display=swap');

.header {
  background-color: #a83ee9;
  display: flex;
  justify-content: space-around;
  line-height: 27px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font: 23px 'Raleway', sans-serif;
  height: 120px;
  align-items: center;
  flex-wrap: wrap;
}

.menuItems {
  display: flex;
  gap: 28px;
}

.menuItems > a {
  color: #fff;
}

.title {
  font: 43px 'Raleway', sans-serif;
  color: #fce906;
  width: 200px;
}

.logoAndTitle {
  display: flex;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .title {
    font: 25px 'Raleway', sans-serif;
  }

  .logo {
    width: 100px;
  }

  .menuItems {
    display: flex;
    gap: 20px;
    font: 16px 'Raleway', sans-serif;
    justify-content: space-between;
  }  
  
  .header {
    justify-content: center;
  }
}
